.changeButtonStyle:hover {
-fx-background-color:#ff5c9d;

}
.changeButtonStyle{
    -fx-background-color: #291660; -fx-border-color: #ff5c9d;
}

.OStyle{
    -fx-font-size:33;
    -fx-text-fill: #9C4F6E;
    -fx-background-color: #3F2D73;
    -fx-font-weight: bold 
}

.XStyle{
    -fx-font-size:33;
    -fx-text-fill: #BCB9E5;
    -fx-background-color: #3F2D73;
    -fx-font-weight: bold 
}
* :disabled {
    -fx-opacity: 1;
    -fx-background-color: #3F2D73;
}

.playerTurn{
    -fx-opacity: 1;
    -fx-text-fill:#ff5c9d;
}

.playerNotTurn{
    -fx-text-fill:#ffffff;
    -fx-opacity: 0.5;
}

.LeftSideSignInBackground{
    -fx-background-color: #3f2e74;
    -fx-background-radius: 0 25 25 0;
    
}

.RightSideSignInBackground{
    -fx-background-color: #ffffff;
    
}

.-Text {
    -fx-font-family: TRON;
    -fx-background-color: #3f2e74;
    -fx-font-size: 12px;
}

.SignIn-text-field {
    -fx-padding:0 0 10px 0 ; 
    -fx-text-fill:#3f2e74;
    -fx-prompt-text-fill:#3f2e74; 
    -fx-background-color: #3f2e74, #ffffff ;
    -fx-alignment: center-left;   
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
}
.signinButton{
    -fx-background-color: #3f2e74;
    -fx-background-radius: 50 50 50 50;
}

.signinButton:hover{
    -fx-background-color: #a05373;
    -fx-background-radius: 50 50 50 50;
}

.signinButton:disabled{
    -fx-background-color: #948cbc;
    -fx-background-radius: 50 50 50 50;
}

.createAccount{
    -fx-text-fill: #3f2e74;
}

.createAccount:hover{
    -fx-text-fill: #a05373;
}

.signinImage{
    -fx-background-image: url("../img/xo.jpeg");
}

.signInLable{
    -fx-background-color: #3f2e74;
    -fx-background-radius: 50 50 50 50;
}
.back{
    -fx-text-fill: #ffffff;
}

.back:hover{
    -fx-text-fill: #a05373;
}


.connectingLable{
    -fx-font-size:20;
    -fx-text-fill: #ffffff;
}
.connectingPercent{
    -fx-font-size:20;
    -fx-text-fill: #a05373;
}

.username{
    -fx-font-size:15;
    -fx-text-fill: #a05373;
}
.data{
    -fx-font-size:15;
    -fx-text-fill: #3f2e74;
}
